<!-- Config file for the game -->

<config>
  <app>
    <title>Project Ceta</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="479" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <screen_size> value="1" </screen_size>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player  inipos_x="90.0f" inipos_y="0" velocity_X="5" velocity_Y="50" gravity="5"  DashDistance ="90" width="21" height="35">
  </player>

  <audio>
    <Volume></Volume>
    <Music>
      <BackgroundMusic> name="BackgroundMusic" value="MusicLevel1.ogg"/></BackgroundMusic>
    </Music>
    <Fx>
      <MovementSounds>audio/fx</MovementSounds>
    </Fx>
  </audio>

  

</config>